.ant-layout-header .navbar-link {
    transition: color 0.2s ease;
}

.ant-layout-header .navbar-link:hover {
    color: #a0c8ff !important;
}

/* Для текста внутри ссылки */
.ant-layout-header .navbar-link .ant-typography,
.ant-layout-header .navbar-link .ant-avatar {
    transition: color 0.2s ease;
}

.ant-layout-header .navbar-link:hover .ant-typography,
.ant-layout-header .navbar-link:hover .ant-avatar {
    color: #a0c8ff !important;
}